.pi{
	float:none;
	display: flex;
	flex-direction:column;
	margin:8px 8px;
}
table {
  border-collapse: collapse;
  margin:8px 8px;
}

table, td, thead {
  border: 1px solid black;
  text-align: center
}
th{
	height:50px;
}
